* {
  white-space: nowrap;
  font-family: "Nanum Myeongjo", serif;
}

/**/
a {
  text-decoration: none;
  color: black;
}

button {
  border: 0;
  outline: 0;
  background-color: white;
}

ul {
  list-style: none;
  padding-left: 0px;
}

/*font*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@300&display=swap");

.nanummyeongjo * {
  font-family: "Nanum Myeongjo", serif;
}

/*header*/
#header {
  margin: 30px 30px 0px 30px;
}

#header .submit_box {
  border: 1px solid #959595;
  border-radius: 16px;
  color: #666;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 12px;
  height: 28px;
  text-align: center;
  text-decoration: none;
  width: 64px;
}

#header .h_left {
  float: left;
}

#header .h_left button {
  width: 28px;
  height: 22px;
}

#header .h_right {
  float: right;
}

#header .search_button {
  height: 22px;
  width: 22px;
  margin-left: 16px;
}

/*article*/
#article {
  clear: both;
}

/*intro_brunch*/
#article .intro_brunch {
  font-family: "Nanum Myeongjo", serif;
}

.intro_brunch {
  width: 960px;
  margin: auto;
  margin-top: 20px;
}

.intro_brunch h3 {
  margin: 0px;
  display: block;
  color: #1a1a1a;
  font-size: 40px;
  font-weight: normal;
}

.intro_brunch .sub_intro {
  color: #cacaca;
  font-size: 32px;
  line-height: 46px;
  margin-top: -3px;
  padding-bottom: 16px;
}

.intro_brunch .update {
  font-family: Georgia, sans-serif;
  text-align: right;
}

/*editor_pic*/
#article .editor_pic {
  clear: both;
  overflow: hidden;
  width: 960px;
  margin: auto;
}
#article .editor_pic .picture_container {
  display: inline-flex;
  transition: transform 0.5s;
}
#article .editor_pic .picture_typeA {
  display: grid;
  grid-template-columns: 480px 480px;
  grid-template-rows: 260fr 260fr;
  width: 50%;
}

#article .editor_pic .picture_typeB {
  display: grid;
  grid-template-columns: 480px 480px;
  grid-template-rows: 260fr 260fr;
  width: 50%;
}

#article .editor_pic .picture_typeC {
  display: grid;
  grid-template-columns: 480px 480px;
  grid-template-rows: 260fr 260fr;
  width: 50%;
}

#article .editor_pic .picture_typeD {
  display: grid;
  grid-template-columns: 480px 480px;
  grid-template-rows: 260fr 260fr;
  width: 50%;
}

.editor_pic .type_item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(/img/bg_bookblur.png);
}

.editor_pic .type_item2,
.type_item3 {
  height: 260px;
}

.editor_pic .type_item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.editor_pic .type_item2 {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.editor_pic .wrap_paging {
  clear: both;
  margin-top: 22px;
  text-align: center;
}

.append_info .c_info {
  color: aliceblue;
}

.item_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main_text {
  font-size: 28px;
}

.sub_text {
  font-family: "Noto Sans KR", sans-serif;
  padding-top: 30px;
  font-size: 12px;
}

.paging {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 8px;
  padding-left: 11px;
  padding-right: 11px;
}

/*keywords*/
#article .keywords {
  margin-top: 152px;
  text-align: center;
}

#article .keywords a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  width: 121px;
  height: 121px;
  background-color: #fff;
  border: 1px solid #eee;
  margin: -1px;
}

#article .keywords a:hover {
  border: 1px solid grey;
  color: grey;
  margin: -1px;
  z-index: 0;
}

#article .keyword_layer {
  display: flex;
  justify-content: center;
}

#article .keyword_item {
  font-size: 14px;
  font-family: "Noto Sans DemiLight", "Malgun Gothic";
}
